PORT=4600
HOST=127.0.0.1
NODE_ENV=development
NATS_SERVERS="nats://localhost:4222"

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
DYNAMODB_ENDPOINT=http://localhost:4566

JWT_SECRET=YOUR_JWT_SECRET_KEY
JWT_EXPIRES_IN=3600s
PASSWORD_SALT_ROUNDS=10